#chat-screen {
    background-color: #ABC1D1;
    height : 1000vh;
}

.chatwith {
    font-size : 20px;
}

#chat-screen .status-bar {
    background-color: #ABC1D1;
    z-index : 2 ;
}

#chat-screen .alt-header {
    position : fixed;
    width:100%;
    box-sizing: border-box;
    background-color : #ABC1D1;
    z-index: 1;

}

.alt-header__column {
    width : 33%;
}

.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column:last-child{
    display:flex;
    justify-content: flex-end;
}


.alt-header__column:last-child span:last-child {
    margin-left : 20px;
}

.chat__timestamp {
    margin-top : 80px;
    margin-bottom : 30px;
}

.main-chat {
    display : flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp {
    color : white;
    background-color: #92A4B2;
    padding : 10px 15px;
    border-radius: 15px;
}


.message-row {
    width : 100%;
    display : flex;
}

.message-row img {
    width : 45px;
    height: 45px;
    border-radius : 20px;
    margin-right : 7px;
}

.message__author {
    display: block;
    margin-bottom : 5px;
}

.message__info {
    display : flex;
    align-items: flex-end;
}

.message__bubble {
    background-color: white;
    font-size: 17px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    padding : 10px;
    margin-right : 5px;
}

.message__time,
.message__author {
    opacity: 0.8;
    font-size:14px;
}

