/* header */
.welcome-header {
    margin : 90px 0px;
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-header .welcome-header__title {
    margin-bottom : 36px;
    font-size:30px;
}

.welcome-header .welcome-header__text {
    width:60%;
    opacity:0.7;
}


/* login-form */
.login-form {
    display : flex;
    flex-direction: column;
    margin : 0px 30px;
}

.login-form .login-form__input {
    margin : 10px 0px;
    border : none;
    border-bottom : 1px solid rgb(193, 189, 189);
    padding : 15px 0px;
    font-size:15px;  
    transition : border-color 0.2s ease-in-out;
}

/* 특정 요소를 제외한 나머지 부분에 적용하고 싶을 때 */
.login-form .login-form__btn { 
    border : none;
    background-color: var(--yellow);
    border-radius:5px;
    margin : 20px 0px;
    cursor:pointer;
}

.login-form .login-form__input::placeholder {
    color : rgb(96, 94, 94);
}

.login-form .login-form__input:focus {
    border-bottom: 1.5px solid var(--yellow);
}


.login-form .login-form__link {
    text-align:center;
    font-size:13px;
}